.todo {
  border-radius: 5px;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 100px;
  align-items: center;
}

.checkbox {
  width: 25px;
  height: 25px;
  border-color: #ebbfbf;
}
